.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 31%;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 22px;
  padding: 4px 4px;
  margin-top: 4px;
}

.logo-container:hover {
  background-color: #E8F5FE;
}

.container-option-header {
  border: none;
  border-radius: 25px;
  width: min-content;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 14px;
}

.container-option-header:hover {
  background-color: rgb(230, 230, 230);
}

.header-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  left: 57.5%;
}

.logo-header {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header:hover {
  cursor: pointer;
}

.logo-svg {
  width: 28px;
}

.option-header {
  display: flex;
  padding: 12px 14px;
  align-items: center;
}

.icon-option {
  width: 22px;
}

.name-option {
  margin-left: 25px;
  font-size: 18px;
}

.twit-button {
  border: none;
  width: 210px;
  height: 50px;
  background-color: #1D9BF0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.twit-button:hover {
  background-color: #0b91eb;
}

.footer-header {
  position: absolute;
  bottom: 20px;;
  left: 57%;
}

.footer-content {
  padding: 10px 10px;
  display: flex;
  width: 230px;
  justify-content: space-between;
  transition: background-color 0.2s;
  border-radius: 30px;
}

.footer-content:hover {
  background-color: rgb(230, 230, 230);
}

.user-pic {
  font-family: monospace sans-serif;
  font-size: 24px;
  padding: 6px 10px;
  border: none;
  background-color: #78909C;
  color: white;
  border-radius: 22px;
  margin-right: 10px;
}

.user-information {
  font-size: 14px;
  margin-left: -85px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.acc-name {
  color: gray;
}

.icon-footer {
  width: 18px;
  margin-right: 10px;
}
  


