.top-right-section {
  position: fixed;
  top: 0;
  left: 65%;
  height: 50px;
  z-index: 200;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 25px;
  border-left: solid 1px rgb(240, 240, 240);
}

.input-search-container {
  display: flex;
  align-items: center;
  width: 330px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
}

.search-icon {
  width: 16px;
  margin-right: 15px;
  padding-left: 15px;
}

.search-input {
  background-color: rgb(240, 240, 240);
  border: none;
  font-size: 14px;
  width: 270px;
  height: 36px;
  border-radius: 18px;
  outline: none;
}
